---
import { getCollection } from 'astro:content';
import TagPill from './TagPill.astro';

const { type } = Astro.props as { type: 'blog' | 'photography' };
const entries = await getCollection(type);
const allTags = [...new Set(entries.flatMap((entry) => entry.data.tags ?? []))].sort();
---

<div class="flex flex-wrap">
  {allTags.map(tag => <TagPill tag={tag} />)}
</div>
